@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

:root {
  --main-bg-color: #2874f0;
}

header {
  background: var(--main-bg-color);
  height: 10vh;
}

nav {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px;
  padding: 0 20px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
}

nav ul li {
  list-style: none;
  padding: 0 20px;
}

nav ul li a {
  color: white;
}

nav ul li a:hover {
  background: white;
  color: black;
  width: 30px;
}

.copyright {
  height: 9vh;
  color: white;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
}